[amqp]
user = bunny
pass = gvC1Ik5i3w
host = rabbit
port = 5672
ssl = False

[postgresql]
user = aiq_user
pass = gvC1Ik5i3w
host = pgdb
port = 5432
database = aiq_data

[sota]
username = username
secret = secret

[sail-on]
trials = 30
normal_timeout_seconds = 600
training_timeout_multiplier = 100

[cartpole]
training_episodes = 100
testing_episodes = 200
live = True

[vizdoom]
training_episodes = 100
testing_episodes = 200
live = True

[smartenv]
training_episodes = 100
testing_episodes = 200
live = True

[options]
debug = False
fulldebug = False
printout = True
testing = False
demo = False
shortdemo = False
