[amqp]
user = bunny
pass = gvC1Ik5i3w
host = rabbit
port = 5672
ssl = False

[postgresql]
user = aiq_user
pass = gvC1Ik5i3w
host = pgdb
port = 5432
database = aiq_data

[sota]
username = username
secret = secret

[sail-on]
trials = 1
novelty = 200,101,102,103,104,105
difficulty = easy,medium,hard
normal_timeout_seconds = 600
training_timeout_multiplier = 10
testing_novelty_p2 = 1.0

[cartpole]
training_episodes = 20
testing_episodes = 20
pre_novel_episodes = 5
live = True
use_image = True

[vizdoom]
training_episodes = 20
testing_episodes = 20
pre_novel_episodes = 5
live = True
use_image = False

[smartenv]
training_episodes = 100
testing_episodes = 200
live = True

[options]
debug = False
fulldebug = False
printout = True
testing = False
demo = False
shortdemo = False
