<?xml version="1.0"?>
<robot name="origins">

    <link name="green">
        <visual>
            <geometry>
                <box size="0.1 1 0.1" />
            </geometry>
            <origin xyz="0 0.5 0"/>
            <material name="green">
                <color rgba="0 1 0 0.9"/>
            </material>
        </visual>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <collision>
            <geometry>
                <box size="0.1 1 0.1" />
            </geometry>
            <origin xyz="0 0.5 -10"/>
        </collision>
    </link>

    <link name="red">
        <visual>
            <geometry>
                <box size="1.0 0.1 0.1" />
            </geometry>
            <origin xyz="0.5 0 0"/>
            <material name="red">
                <color rgba="1 0 0 0.9"/>
            </material>
        </visual>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <collision>
            <geometry>
                <box size="0.1 1 0.1" />
            </geometry>
            <origin xyz="0 0.5 -10"/>
        </collision>
    </link>

    <joint name="w1" type="fixed">
        <axis xyz="1 0 0"/>
        <origin xyz="0.0 0.0 0.0"/>
        <parent link="green"/>
        <child link="red"/>
    </joint>

    <link name="blue">
        <visual>
            <geometry>
                <box size="0.1 0.1 1.1" />
            </geometry>
            <origin xyz="0 0 0.5"/>
            <material name="blue">
                <color rgba="0 0 1 0.9"/>
            </material>
        </visual>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <collision>
            <geometry>
                <box size="0.1 1 0.1" />
            </geometry>
            <origin xyz="0 0.5 -10"/>
        </collision>
    </link>

    <joint name="w2" type="fixed">
        <axis xyz="1 0 0"/>
        <origin xyz="0.0 0.0 0.0"/>
        <parent link="red"/>
        <child link="blue"/>
    </joint>


</robot>
